Repository KUIT-Space/KUIT-Space-front, pull requests merged in 2024-07, with the labels that each got.

#14 Feat#5 voiceroom list
  src/App.tsx
  src/pages/HomePage.tsx
  src/pages/VoiceRoomPage/VoiceRoomListPage.tsx
Labels: Feat, Style

#37 Feat#32 style bottomnavbar
  src/App.tsx
  src/assets/BottomNavBar/BottomNavBarIcon.tsx
  src/assets/icon_board.svg
  src/assets/icon_chat.svg
  src/assets/icon_home.svg
  src/assets/icon_pay.svg
  src/assets/icon_voice.svg
  src/components/BottomNavBar.tsx
  src/components/TopBarText.styled.ts
  src/index.css
  src/main.tsx
  src/pages/BoardPage/BoardPage.tsx
  src/pages/ChatPage/ChatAddBtn.styled.tsx
  src/pages/ChatPage/ChatPage.styled.ts
  src/pages/ChatPage/ChatPage.tsx
  src/pages/PayPage/PayPage.tsx
  src/styles/GlobalStyles.ts
  src/styles/Theme.d.ts
  src/styles/Theme.ts
  src/styles/styled.d.ts
Labels: Style

#41 fix BottomBtn
  src/components/BottomBtn.tsx
Labels: bug, Style

#38 Feat#19 chat create admin
  .prettierrc
  package-lock.json
  package.json
  src/App.tsx
  src/assets/ChatPage/btn_chatroom_img.svg
  src/assets/ChatPage/icon_checkbox.svg
  src/assets/ChatPage/icon_checkbox_checked.svg
  src/assets/ChatPage/icon_search.svg
  src/components/BottomBtn.tsx
  src/components/CheckBox.tsx
  src/components/Input.ts
  src/components/TopBarText.styled.ts
  src/index.css
  src/pages/ChatPage/ChatAddBtn.styled.tsx
  src/pages/ChatPage/ChatCreatePage/ChatCreatePage.styled.ts
  src/pages/ChatPage/ChatCreatePage/ChatCreatePage.tsx
  src/pages/ChatPage/ChatPage.styled.ts
  src/pages/ChatPage/ChatPage.tsx
  src/pages/ChatPage/ChattingPage/ChattingPage.tsx
  src/styles/GlobalStyles.ts
Labels: Feat, Style
